/*

Customize variables:

- Check the ../../arDominionB5Plugin/scss/variables.scss file.
- Check the B5 documentation (https://getbootstrap.com/docs/5.0/customize/sass/).
- Import B5 functions, variables and mixins if needed.

*/
$primary: #BF172B;
$secondary: #751621;
$dark: $primary;
$navbar-dark-hover-color: $secondary;

@import "../../arDominionB5Plugin/scss/main.scss";

/*

Extend:

- Add extra SCSS and CSS imports.
- Add custom styles directly.

*/

#user-menu {
    border-color: unset;
    background-color: $primary;
}

#user-menu:hover,
#user-menu:focus {
    border-color: unset;
    background-color: $secondary;
}

@media (max-width: 992px) {
    #navbar-content .nav-item.dropdown:hover,
    #navbar-content .nav-item.dropdown:focus {
        background-color: #FFF;
    }
}

.navbar-toggler {
    border-color: #FFF !important;
    background-color: $primary;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    border-color: #FFF;
    background-color: $secondary;
}

#sidebar section {
    border: none !important;
}

#cabecalho-busca {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/plugins/arUfpaThemePlugin/images/foto_orla.jpg");
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

#cabecalho-busca h1 {
    color: #FFF;
    font-weight: 600 !important;
    text-shadow: 2px 2px #000;
}

#cabecalho-busca h3 {
    color: #FFF;
    font-weight: 600 !important;
    text-shadow: 2px 2px #000;
}

#popular-this-week {
    padding: 15px 20px;
    border-radius: 8px;
    background-color: #E7E7E7;
}

#popular-this-week ul {
    list-style-type: none;
    padding-left: 0;
}

#popular-this-week ul li {
    border-bottom: 1px solid rgba(191, 23, 43, 0.2);
    margin-bottom: 20px;
}

#popular-this-week .list-group a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    background-color: #E7E7E7;
    border-bottom: 1px solid rgba(191, 23, 43, 0.2);
    padding: 20px 5px;
    align-items: center !important;
}

#popular-this-week a span {
    display: table;
    padding: 1px 10px;
    font-size: 0.8rem;
    background-color: $primary;
    color: #FFF;
    border-radius: 16px;
    width: auto;
}

#info-footer {
    font-size: smaller;
    background-color: $secondary;
}

#info-footer strong {
    font-weight: 600;
}
