/*

Customize variables:

- Check the ../../arDominionB5Plugin/scss/variables.scss file.
- Check the B5 documentation (https://getbootstrap.com/docs/5.0/customize/sass/).
- Import B5 functions, variables and mixins if needed.

*/

@import "../../arDominionB5Plugin/scss/main.scss";

/*

Extend:

- Add extra SCSS and CSS imports.
- Add custom styles directly.

*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto&display=swap');

:root {
    --black: #000;
    --gray: #667085;
    --light-blue: #33B6FF;
    --tab-blue: #d6e5ea;
    --orange: #F2B45A;
}

#sidebar section {
    border: none !important;
}

#apresentacao-ufpa {
    background-color: rgb(67,67,67);
}

#apresentacao-ufpa h1 {
    color: #ec4624;
    font-family: 'Roboto', 'Arial';
    font-weight: normal;
    margin-bottom: 0px;
    text-align: center;
}

#apresentacao-ufpa .descricao {
    color: #f3f3f3;
    font-family: 'Arial';
    font-size: 11pt;
    font-weight: normal;
    margin-bottom: 0px;
    text-align: center;
}

#apresentacao-ufpa .numeros {
    color: #f9f9f9;
    font-family: Nunito;
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    display: block;
    line-height: 1.38;
}

#apresentacao-ufpa .numeros :first-child {
    text-align: center;
}

#apresentacao-ufpa .numeros :not(:first-child) {
    font-size: 10pt;
    margin-bottom: 0;
    margin-top: 6pt;
    text-align: center;
}

@media only screen and (max-width: 479px) {
    #apresentacao-ufpa h1 {
        font-size: 18.0pt;
    }

    #apresentacao-ufpa .numeros {
        width: 100%;
    }

    #apresentacao-ufpa .numeros :first-child {
        margin: 0;
        font-size: 23pt;
    }

    #apresentacao-ufpa .numeros :last-child {
        margin-bottom: 1rem;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #apresentacao-ufpa h1 {
        font-size: 19.0pt;
    }

    #apresentacao-ufpa .numeros {
        width: 100%;
    }

    #apresentacao-ufpa .numeros :first-child {
        margin: 0;
        font-size: 27pt;
    }

    #apresentacao-ufpa .numeros :last-child {
        margin-bottom: 1rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
    #apresentacao-ufpa h1 {
        font-size: 20.0pt;
    }

    #apresentacao-ufpa .numeros :first-child {
        margin: 0;
        font-size: 30pt;
    }
}
@media only screen and (min-width: 1280px) {
    #apresentacao-ufpa h1 {
        font-size: 20.0pt;
    }

    #apresentacao-ufpa .numeros :first-child {
        margin: 0;
        font-size: 30pt;
    }
}

#cabecalho-busca {
    background-image: url("/plugins/arUfpaThemePlugin/images/foto_orla.jpg");
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

#cabecalho-busca h1 {
    color: #FFF;
}

#cabecalho-busca p {
    color: #FFF;
}

#popular-this-week {
    padding: 15px 20px;
    border-radius: 8px;
    background-color: #f2f7f8;
}

#popular-this-week h2 {
    color: var(--light-blue);
}

#popular-this-week ul {
    list-style-type: none;
    padding-left: 0;
}

#popular-this-week ul li {
    border-bottom: 1px solid var(--tab-blue);
    margin-bottom: 20px;
}

#popular-this-week .list-group a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--gray);
    background-color: #f2f7f8;
    border-bottom: 1px solid var(--tab-blue);
    padding: 20px 5px;
    align-items: center !important;
}

#popular-this-week a span {
    display: table;
    padding: 1px 10px;
    font-size: 0.8rem;
    background-color: var(--orange);
    color: var(--black);
    border-radius: 16px;
    width: auto;
}
